$light-pink: #ffebf2;
$medium-pink: #f650a0;
$medium-pink-two: #f454a0;
$black: #222222;
$black-two: #000000;
$black-three: #333333;
$light-teal: #a3e8d6;
$warm-gray: #999999;
$white-two: #d8d8d8;
$buff: #fcfa96;
$brownish-grey: #666666;
$brownish-grey-two: #656565;
$navy-20: rgba(0, 35, 64, 0.2);
$light-blue-gray: #e0c5ec;
$black-50: rgba(0, 0, 0, 0.5);
