.breadcrumbs {
  margin-top: 3.9rem !important;
  font-size: 1.2rem;
  color: $warm-gray;
}

.link {
  color: $warm-gray;
  text-decoration: none;
}

.breadcrumbs span strong {
  color: $black-two;
}
