.breadcrumbs {
  margin-top: 3.9rem;
  font-size: 1.2rem;
  font-family: "Varela", sans-serif;
  color: $warm-gray;
}

.link-breadcrumb {
  color: $warm-gray;
  text-decoration: none;
  font-size: 1.2rem;
}

.breadcrumbs span strong {
  color: $black-two;
}
