.btn {
  display: inline-block;
  height: 3rem;
  width: 10.5rem;
  font-size: 1.4rem;
  font-family: "Secular One", sans-serif;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  padding: 0.5rem 0.7rem 0.5rem 0.8rem;
  border-radius: 0.19rem;
  background-color: $medium-pink-two;
}
